#slider {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 60px 0 60px;
}

.v-switch-active-color {
    color: #74a7cd ;
    cursor: pointer;
}

.v-switch-active {
    color: #0167b3;
    cursor: pointer;
}

.bar-left {
    padding-right: 119px;
}

.bar-right {
    width: 80%;
}

.multi-range-slider .label {
    color: #999;
}

.multi-range-slider .bar-inner {
    background-color: #5CADEA;
    box-shadow: none;
    height: 6px;
    border: none;

}

.multi-range-slider .bar-right {
    box-shadow: none;
    height: 8px;
}

.multi-range-slider .bar-left {
    box-shadow: none;
    height: 8px;
    padding: 0px;
}

.multi-range-slider .thumb::before {
    box-shadow: none;
    border: solid 5px #5CADEA;
    width: 9px;
    height: 9px;
    margin: -7px
}

.multi-range-slider .ruler, .multi-range-slider .sub-ruler {
    display: none;
}

.multi-range-slider {
    background-color: #e8e8e8;
    box-shadow: none;
    border: 0px;
}

.multi-range-slider-black .thumb .caption * {
    background-color: #FFFFFF;
    color: #0167B3;
}

.multi-range-slider .thumb .caption * {
    background-color: #FFFFFF;
    color: #0167B3;
    box-shadow: 0px 5px 15px rgba(14, 88, 143, 0.20);
    line-height: 24px;
    white-space: normal;
    height: 56px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-family: Raleway;
    padding: 0px 12px;
    border-radius: 10px;
}

.multi-range-slider .caption {
    display: flex;
    bottom: 60px;
}

.multi-range-slider .thumb .caption .min-caption {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 2px;
    bottom: -29px;
}

.multi-range-slider .thumb .caption .max-caption {
    bottom: -137px;
    padding-top: 0px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: -4px;
}

.MultiRangeSliderContainer {
    width: 100%;
    margin-top: 20px;
}

.MultiRangeSliderContainerMonth {
    width: 100%;
    margin-top: 20px;
}

.MultiRangeSliderContainerMonth .multi-range-slider .label:first-child {
    justify-content: center;
}

.MultiRangeSliderContainerMonth .multi-range-slider .label:last-child {
    justify-content: center;
}

.min-caption:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 36.5%;
    bottom: -18px;
}

.max-caption:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 36.5%;
    top: -18px;
}

.multi-range-slider .labels {
    margin-top: 13px;
}

@media (max-width: 819px) {
    #slider {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .bar-right {
        width: 86%;
        padding-bottom: 10px;
    }
    .bar-left {
        padding-right: 0px;
        padding-bottom: 33px;
    }

    .multi-range-slider .label {
        font-size: 11px;
    }

    .multi-range-slider .thumb .caption * {
        font-size: 16px;
        height: 55px;
    }

    .multi-range-slider .thumb .caption .max-caption {
        bottom: -130px;
        padding-bottom: 8px;
        margin-right: 5px;
    }

    .multi-range-slider .thumb .caption .min-caption {
        bottom: -32px;
        padding-top: 10px;
    }
}

